@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono|Orbitron&display=swap');

body{
    color: white;
}

.imagem{
    width: 550px !important;
    max-width: 500%;    
}
.modal{
    display: inline-block;
}
  .modal > label:hover {
    -webkit-transform: scale(0.97);
            transform: scale(0.97);
  }
  
  .modal__overlay {
    background: #000000;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    text-align: center;
    text-shadow: none;
    top: 0;
    z-index: 600;
  }
  
  .modal__wrap {
    padding: 1em 0;
    position: relative;
    margin: 0 auto;
    max-width: 700px;
    width: 90%;
  }
  
  @media (min-width: 50em) {
    .modal__wrap {
      padding: 1.75em;
    }
  }
  @media (min-height: 37.5em) {
    .modal__wrap {
      left: 35%;
      position: absolute;
      top: 50%;
      -webkit-transform: translate(-50%, -80%);
              transform: translate(-50%, -80%);
    }
  }
  .modal__wrap label {
    background: #fff;
    border-radius: 50%;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    height: 1.5em;
    line-height: 1.5;
    position: absolute;
    right: .5em;
    top: .5em;
    width: 1.5em;
  }
  
  .modal__wrap h2 {
    font-family: 'Orbitron', sans-serif;
    color: #fff;
    margin-bottom: 1em;
    text-transform: uppercase;
    font-size: 40px;
  }
  
  .modal__wrap p {
    font-family: 'IBM Plex Mono', monospace;
    color: #fff;
    text-align: justify;
    font-size: 20px;
  }
  
  .modal input:focus ~ label {
    -webkit-transform: scale(0.97);
            transform: scale(0.97);
  }
  
  input {
    position: absolute;
    top: -1000px;
  }
  
  .modal__overlay {
    opacity: 0;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    transition: all 0.75s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    z-index: -100;
  }
  
  input:checked ~ .modal__overlay {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
    z-index: 800;
  }
  